[[source]]
url = 'https://pypi.python.org/simple'
verify_ssl = true

[requires]
python_version = '3.8'

[packages]
flask = "*"
gunicorn = "*"
html-telegraph-poster = "*"
waitress = "*"
lxml = "*"
requests = "*"
tqdm = "*"
absl-py = "*"
#telebot = "*"
pyTelegramBotAPI = "4.2.2"
cchardet = "*"
html-sanitizer = "*"

[dev-packages]